ul li {
	list-style-type: none;
}
#button {
	position: absolute;
	top: 80%;
	left: 50%;
	border-radius: 15px;
	width: 30px;
	height: 30px;
}
#button:hover {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
#info-bar {
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: rgb(130, 130, 130);
	border-radius: 15px;
	width: 30px;
	height: 30px;
	color: white;
	vertical-align: bottom;
	overflow: hidden;
	transition: all 0.5s 0.2s;
	-moz-transition: all 0.5s 0.2s;
	-webkit-transition: all 0.5s 0.2s;
	-o-transition: all 0.5s 0.2s;
}
#info-bar:hover {
	background-color: rgb(104, 104, 104);
}
#button:hover #info-bar {
	border-radius: 64px;
	width: 120px;
	height: 120px;
	position: absolute;
	top: -144px;
	left: -43px;
}
.apb {
	position: absolute;
	top: 0%;
	left: 0%;
	border-radius: 50px;
	width: 30px;
	height: 30px;
	background-image: url("assets/images/atplus_white.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: rgb(160, 158, 196);
	transition: all 0.5s 0.2s;
	-moz-transition: all 0.5s 0.2s;
	-webkit-transition: all 0.5s 0.2s;
	-o-transition: all 0.5s 0.2s;
	transition-delay: 0.3s;
    
}
#button:hover .apb {
	background-image: url("assets/images/atplus_green.png");
	background-size: 80%;
	background-position: 50% 50%;
	background-color: rgb(48, 67, 163);
	transition: all 0.5s 0.2s;
	-moz-transition: all 0.5s 0.2s;
	-webkit-transition: all 0.5s 0.2s;
	-o-transition: all 0.5s 0.2s;
	transform:scale(2);
}
.user {
	font-weight: bold;
	position: absolute;
	left: 37px;
	top: 6px;
}
#usertext {
	position: absolute;
	top: 0px;
	left: 30px;
}
.comment {
	position: absolute;
	left: 25px;
	top: 35px;
	font-size: 200%;
	font-weight: bold;
}
.comment img {
	transform: scale(1.2);
}
#commenttext {
	position: absolute;
    top: -3px;
    left: 35px;
}
.posted {
	position: absolute;
	top: 77px;
	left: 20px;
}
#postedtext {
	position: absolute;
	left: 30px;
	color: rgb(70, 207, 161);
	font-weight: bold;
}
.like {
	position: absolute;
	top: 77px;
	left: 68px;
}
#liketext {
	color: rgb(70, 207, 161);
	position: absolute;
	left: 30px;
	font-weight: bold;
}
.button {
	background-color: rgba(127, 127, 127, 0);
	border-radius: 15px;
	width: 3px;
	height: 3px;
}
#button:hover .button {
	background-color: rgba(127, 127, 127, 1);
	width: 35px;
	height: 35px;
	border-radius: 25px;
}
.mask, .history, .message, .setting, .sign, .unread {
	position: absolute;
	top: 82%;
	left: 51%;
	visibility: hidden;
	transition: all 0.5s 0.2s;
	-moz-transition: all 0.5s 0.2s;
	-webkit-transition: all 0.5s 0.2s;
	-o-transition: all 0.5s 0.2s;
}
#button:hover .mask {
	visibility: visible;
	position: absolute;
	top: -44px;
	left: -67px;
}
.mask img {
	position: absolute;
	top: 7px;
	left: 7px;
	transform: scale(0.8);
}
#button:hover .history {
	visibility: visible;
    position: absolute;
    top: -3px;
    left: -77px;
}
.history img {
	position: absolute;
	top: 6px;
	left: 7px;
	transform: scale(0.8);
}
#button:hover .message {
	visibility: visible;
	position: absolute;
    top: 36px;
    left: -65px;
}
.message img {
	position: absolute;
	top: 6px;
	left: 7px;
	transform: scale(0.8);
}
#button:hover .setting {
	visibility: visible;
	position: absolute;
    top: 63px;
    left: -32px;
}
.setting img {
	position: absolute;
	top: 6px;
	left: 7px;
	transform: scale(0.8);
}
#button:hover .sign {
	visibility: visible;
	position: absolute;
    top: 67px;
    left: 9px;
}
.sign img {
	position: absolute;
	top: 6px;
	left: 7px;
	transform: scale(0.8);
}
.unread {
	background-color: rgba(255, 0, 0, 0);
	width: 3px;
	height: 3px;
	border-radius: 10px;
	font-size: 0.7em;
	color: white;
	text-align: center;
	font-weight: bold;
	font-family: arial;
}
#button:hover .unread {
	background-color: rgba(255, 0, 0, 1);
	visibility: visible;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	position: absolute;
    top: -5px;
    left: 21px;
	text-align: center;
	font-family: arial;
	font-weight: bold;
}
