#all {
	position: relative;
	margin-left: auto;
    margin-right: auto;
    margin-top: 47px;
	width: 500px;
	height: 590px;
	border: solid 3px black;
}
h1 {
	font-weight: bold;
	color: rgb(5, 130, 2);
	text-align: center;
}
#part {
	width: 515px;
	height: 510px;
}
#result {
	text-align: right;
	border: 1px solid rgb(152, 152, 152);
	width: 463px;
	height: 45px;
	position: relative;
	left: 16px;
	top: 15px;
	font-weight: bold;
	font-size: 1.4em;
}
ul {
	position: relative;
	top: 5px;
	left: -22px;
}
ul li {
	list-style: none;
	display: inline-block;
	text-align: center;
	margin-left: 6px;
	margin-right: 6px;
	width: 100px;
	height: 65px;
}
.litext {
	position: relative;
	top: 19px;
	width: 100px;
	height: 65px;
	font-size: 1.5em;
	font-weight: bold;
}
.shuzi {
	background-color: rgb(246, 246, 246);
	border: 1px solid rgb(246, 246, 246);
}
.fuhao {
	background-color: rgb(210, 210, 210);
	border: 1px solid rgb(210, 210, 210);
}
.denghao {
	background-color: rgb(74, 140, 247);
	border: 1px solid rgb(74, 140, 247)
}
.shuzi:hover, .denghao:hover {
	border: 1px solid rgb(210, 210, 210);
}
.fuhao:hover {
	border: 1px solid gray;
}
#result:hover {
	border: 1px solid black;
}