table, tr, th, td {
	border: 1px solid rgb(191, 191, 191);
	text-align: left;
	border-collapse: collapse;
	padding-left: 3px;
	padding-right: 17px;
}
th, .th1, .th2 {
	background-color: rgb(3, 27, 125);
	color: white;
	cursor: pointer;
	background-position: 100% 0;
	background-repeat: no-repeat;
}
.th1 {
	background-color: rgb(166, 175, 252);
	background-image: url(../images/ascend.png);
}
.th2 {
	background-color: rgb(166, 175, 252);
	background-image: url(../images/descend.png);
}
.alternate {
	background-color: rgb(221, 221, 221);
}